@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Dykkerdragter";
}
@using DiveDeep.Models
@model List<object>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DiveDeep</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DiveDeep.styles.css" asp-append-version="true" />
</head>
<body>
    <main>
        @using (Html.BeginForm("Index", "DivingSuit", FormMethod.Get))
        {
            <div class="row">
                @foreach (DivingSuit item in Model)
                {
                    <div class="col-md-4 mb-4">
                        <div class="card h-100">
                            <img src="@Url.Content(item.FilePath)" class="card-img-top" alt="test">
                            <div class="card-body">
                                <h5 class="card-title">@Html.DisplayFor(modelItem => item.Model) - 
                                    @if (@item.Thickness.HasValue)
                                    {
                                        @($"{item.Thickness} mm");
                                    }
                                    @item.Type</h5>
                                <h6 class="card-subtitle mb-2 text-muted">
                                    @Html.DisplayFor(modelItem => item.Price) kr. pr. dag
                                </h6>
                                <p class="card-text">
                                    @Html.DisplayFor(modelItem => item.Brand)
                                </p>
                                <a asp-area="" asp-controller="Products" asp-action="ProductInfo" asp-route-id="@item.Id" class="stretched-link"></a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    </main>
</body>
</html>