@{
    ViewData["Title"] = "Regulator";
}
@model List<Product>

<div class="row">
    @foreach (Product item in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img src="@item.FilePath" class="card-img-top" alt="test">
                <div class="card-body">
                    <h5 class="card-title">@item.Brand</h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        1. trin: @item.Regulator.StageOne<br />
                        2. trin: @item.Regulator.StageTwo<br />
                        Octupus: @item.Regulator.Octopus
                    </h6>
                    <p class="card-text mb-0">@item.DailyPrice kr. pr. dag</p>
                    <a asp-area="" asp-controller="Products" asp-action="ProductInfo" asp-route-id="@item.Id" class="stretched-link"></a>
                </div>
            </div>
        </div>
    }
</div>