@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<Order>

@if (User.IsInRole("Admin"))
{
    <h1>Alle ordrer:</h1>
}
else
{
    <h1>Mine ordrer:</h1>
}

<div class="d-flex flex-wrap gap-3">

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">OrdreID</th>
                <th scope="col">Pris</th>
                <th scope="col">Bestilt af</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model)
            {
                <tr>
                    <td>@order.OrderId</td>
                    <td>@order.TotalPrice DKK</td>
                    <td>@order.User</td>
                    @if (User.IsInRole("Admin"))
                    {
                        <td>
                            <a asp-controller="Order" asp-action="Edit" asp-route-id="@order.OrderId" class="btn btn-link">Rediger</a>
                            <a asp-controller="Order" asp-action="Delete" asp-route-id="@order.OrderId" class="btn btn-link">Slet</a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
